.burger_wrapper {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.burger {
  width: 100%;
  height: 2px;
  background: #f7f7f7;
  border-radius: 3px;
  position: relative;
  transition: all 250ms ease-in-out;
}

.burger:before,
.burger:after {
  content: '';
  width: inherit;
  height: inherit;
  background: inherit;
  position: absolute;
  left: 0;
  transition: all 250ms ease-in-out;
}

.burger:before {
  top: -7.5px;
}

.burger:after {
  top: 7.5px;
}

.active .burger {
  transform: rotate(45deg);
}
.active .burger:before {
  transform: rotate(90deg);
  top: 0;
}

.active .burger:after {
  transform: rotate(450deg);
  top: 0;
}

@media screen and (min-width: 441px) {
  .burger_wrapper {
    display: none;
  }
}
