.navbar {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.navbar ul {
  padding: 0 1rem;
  margin: auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}
.navbar li {
  list-style: none;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 250ms ease-in;
}

.navbar li:hover {
  color: #66fcf1;
}

/* Mobile styling */

.navbar.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding-top: 40%;
  background: rgba(11, 12, 16, 0.75);
  z-index: 1;
}

.navbar.mobile ul {
  flex-direction: column;
}

.navbar.mobile li {
  font-size: 3rem;
  margin: 2rem 0;
}
