.blog_wrapper > * {
  line-height: 1.5;
}

.blog_wrapper a {
  color: rgb(102, 252, 241);
}
.blog_wrapper h1 {
  margin-bottom: 5px;
}

.blog_heading h1 {
  font-size: 2.5rem;
}

.blog_body h1,
.blog_wrapper h2,
.blog_wrapper h3,
.blog_wrapper h4,
.blog_wrapper h5,
.blog_wrapper h6 {
  margin: 20px 0;
  border-left: 3px solid rgba(102, 252, 241, 0.25);
  padding-left: 5px;
}

.blog_heading {
  margin-bottom: 7.5px;
  text-align: right;
}

.blog_wrapper p {
  margin: 10px 0 15px 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #d6d7d8;
  letter-spacing: 2px;
}

.blog_wrapper pre {
  margin-bottom: 30px;
  /* max-width: 95%; */
}

.blog_wrapper pre div {
  border-radius: 3px;
}

.time {
  color: #c5c6c7;
  margin-bottom: 10px;
}

.blog_body img {
  display: block;
  width: 95%;
  /* max-width: 500px; */
  margin: auto;
  border: 1px solid #000;
  border-radius: 3px;
}

.blog_body img[alt='Successful connection'] {
  display: block;
  max-width: 400px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 3px;
}

.blog_body img[alt='folder-structure'] {
  display: block;
  width: 300px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 3px;
}

.inline {
  background: #2f333a;
  color: #fff;
  font-size: 1.15rem;
  padding: 0.2em 0.4em;
  border-radius: 5px;
}

.blog_body table {
  width: 95%;
  margin: auto;
  font-size: 1.2em;
  font-weight: 300;
  /* border: 1px solid white; */
}

.blog_body thead tr {
  border-bottom: 1px solid white;
}
.blog_body th {
  padding: 0.5rem;
  border: 0.25px solid #c5c6c7;
  border-bottom: none;
}

.blog_body td {
  border: 0.25px solid #c5c6c7;
  padding: 0.5rem;
}
